<h2>TestSets</h2>
<div><%= link_to 'Create Test Set', new_test_set_path, :class => "btn btn-primary" %></div><br />
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>  
      <th>Number</th>
      <th>Instruction</th>  
    </tr>
  </thead>
  <tbody>
    <% @test_sets.each do|test_set| %>
      <tr>
        <td><%= link_to test_set.name, test_set_path(test_set) %></td>
        <td><%= test_set.number %></td>
        <td width="40%"><%= test_set.instruction %></td>
      </tr>  
    <% end %>
  </tbody>
</table>    